* {
    padding: 0;
    margin: 0;
}

.container {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    /* margin-top: 50px; */
    /* padding: 30px; */
    background-color: rgb(3, 3, 66);
}

#map {
    height: 600px;
    width: 100%;
    background-color: black;
}

.info {
    font-size: 20px;
    color: yellowgreen;
    background-color: rgb(24, 4, 207);
    max-width: 100%;
    height: auto;
}